small{
    color: rgba(139, 0, 0, 0.527);
}
.blog{
    background-color: deepskyblue;
    border: 8px solid blue;
    border-radius: 15px;
    margin: 50%;
    padding: 20px 40px;
    width: 50%;
    margin: 0 auto;
}

.name{
    color: firebrick;
}

h1{
    color: cornflowerblue;
    margin-left: 38% ;
    margin-right: 38%;
    
}
.blog p{
      color: rgba(153, 50, 204, 0.616);
      font-size: large;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
ul{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
img{  
    display: block;  
margin-left: auto;  
margin-right: auto;  
border: 8px ridge rgb(176, 176, 199);  
padding: 5px;  
    }